<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <!DOCTYPE html>
    <html>
    <head>
    <title>User Info</title>
    </head>
    <body>
    <h1>User Info</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Handicap</th>
            <th>Age</th>
            <th>Home Course</th>
            <th>Movement</th>
            <th>Bio</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < user_info.length; i++) { %>
            <tr>
            <td><%= user_info[i].name %></td>
            <td><%= user_info[i].handicap %></td>
            <td><%= user_info[i].age %></td>
            <td><%= user_info[i].home_course %></td>
            <td><%= user_info[i].movement %></td>
            <td><%= user_info[i].bio %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    </body>
    </html>

</main>

<%- include ('../partials/footer') %>