<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container text-center">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        <div class="card" style="width: 40rem;">
        <div class="card-header">
            matchPlay Golfers
        </div>
        <div class="card-body">
    <body>
    <h1>Find Your Next MatchPlay</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Handicap</th>
            <th>Age</th>
            <th>Home Course</th>
            <th>Movement</th>
            <th>Bio</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < user_info.length; i++) { %>
            <tr>
            <td><%= user_info[i].name %></td>
            <td><%= user_info[i].handicap %></td>
            <td><%= user_info[i].age %></td>
            <td><%= user_info[i].home_course %></td>
            <td><%= user_info[i].movement %></td>
            <td><%= user_info[i].bio %></td>
            </tr>
        <% } %>
        </tbody>
        </table>
        </div>
        </div>
        </div>
        <div class="col">
        </div>
    </div>
    </div>

</main>

<%- include ('../partials/footer') %>