<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="col text-center"><%- include ('../partials/message') %></div>

<main>
    <div class="container text-center">
        <centre>
            <div class="col" style="padding-top: 20px">
            <% 
                if(locals.results && results != []){ 
                    results.forEach(function(res){ %>
                        <div class="col" style="padding-top: 20px">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Handicap</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Home Course</th>
                                            <th scope="col">Movement</th>
                                            <th scope="col">Bio</th>
                                            <th scope="col">Phone Number</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td><%- res.name %></td>
                                            <td><%- res.handicap %></td>
                                            <td><%- res.age %></td>
                                            <td><%- res.home_course %></td>
                                            <td><%- res.movement %></td>
                                            <td><%- res.bio %></td>
                                            <td><%- res.phone_number %></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    %>
                    
                <% }) } 
               else { %>
                <h1>results: [] </h1>
               <% }
               %>
            </centre>
    </div>
</main>

<%- include ('../partials/footer') %>