<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>
        <%- results.name %>
    </h1>
    <h2>Profile</h2>
    <form action="/updateInfo" method="POST">
        
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" />
        </p>
        <p>
            <label for="handicap">Handicap:</label>
            <input type="text" id="handicap" name="handicap" />
        </p>
        <p>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" />
        </p>
        <p>
            <label for="home_course">Home Course:</label>
            <input type="text" id="home_course" name="home_course" />
        </p>
        <p>
            <label for="movement">Movement:</label>
            <input type="text" id="movement" name="movement" />
        </p>
        <p>
            <label for="handicap">Bio:</label>
            <input type="text" id="bio" name="bio" />
        </p>
        <button type="submit" > Update</button>
      </form>

    <!-- <div class = "mb-3 form-check">
        <label class = "form-check-label" for="exampleCheck1">Don't have an account?</label>
        <a href="/register"> Register</a>
      </div> -->
  </div>
</main>

<%- include ('../partials/footer') %>