<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>

  <style>
    body{
        background-image:url(
        "https://i.redd.it/e3tdj6oimx231.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
    }
</style>

  <div class="container">

    <div class="card-deck">
      <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                <div class="container">
                <h2> Welcome to matchPlay <%- results.name %>! </h2>
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Handicap</th>
                    <th scope="col">Age</th>
                    <th scope="col">Home Course</th>
                    <th scope="col">Movement</th>
                    <th scope="col">Bio</th>
                    <th scope="col">Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td><%- results.name %></td>
                    <td><%- results.handicap %></td>
                    <td><%- results.age %></td>
                    <td><%- results.home_course %></td>
                    <td><%- results.movement %></td>
                    <td><%- results.bio %></td>
                    <td><%- results.phone_number %></td>
                    </tr>
                </tbody>
                </table>
                </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                  <h2> Edit Your Profile</h2>
                  <form action="/updateInfo" method="POST" autocomplete="off">
                      <p>
                          <label for="name">Name:</label>
                          <input type="text" id="name" name="name" />
                      </p>
                      <p>
                          <label for="handicap">Handicap:</label>
                          <input type="text" id="handicap" name="handicap" />
                      </p>
                      <p>
                          <label for="age">Age:</label>
                          <input type="text" id="age" name="age" />
                      </p>
                      <p>
                          <label for="home_course">Home Course:</label>
                          <input type="text" id="home_course" name="home_course" />
                      </p>
                      <p>
                          <label for="movement">Movement:</label>
                          <input type="text" id="movement" name="movement" />
                      </p>
                      <p>
                          <label for="handicap">Bio:</label>
                          <input type="text" id="bio" name="bio" />
                      </p>
                      <p>
                        <label for="handicap">Phone Number:</label>
                        <input type="text" id="phone_number" name="phone_number" />
                    </p>
                    <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
              </div>
        </div>
    </div>
</div>
    <!-- <div class = "mb-3 form-check">
        <label class = "form-check-label" for="exampleCheck1">Don't have an account?</label>
        <a href="/register"> Register</a>
      </div> -->
  </div>
</main>

<%- include ('../partials/footer') %>